body {
    background-color: rgba(30, 144, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#loginForm {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}